*{
    padding: 0;
    margin: 0;
}

body{
    background: url(../images/cuidadosB-imagenes/fondo\ bienestar.jpg);
}

.containercui{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 70px;
}

.text{
    max-width: 80%;
}

.con-bg, .sin-bg{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.con-bg{
    background-color: #31b183;
    color: white;
}

.con-bg h1{
    color: white;
}

.con-bg  h3{
    font-size: 40px;
    color: white;
    text-align: center;
}

.sin-bg h1{
    font-size: 45px;
    text-align: center;
    color: #31b183;
}

.sin-bg  h3{
    font-size: 40px;
    color: #31b183;
    text-align: center;
}

p{
    
    text-align: justify;
    font-size: 25px;
    margin: 15px auto;
}

.photo{
    text-align: center;
    
}

.photo img{
    border-radius: 30px;
}

@media screen and (max-width: 425px){


    .photo img{
        width: 100%;
        border-radius: 30px;
    }
}