<<<<<<< HEAD
:root{
    --primary: white;
    --secundary: #31B189;
    --third: #eeeeee;
}


=======
>>>>>>> b29ca7b7674860fbdced0866add33d2a1efceb43
*{
    padding: 0;
    margin: 0;
}

.menu{
    background-color:#31b183;
    height: 40px;
    align-items: center;
    border: 3px;
    display: flex;
    justify-content:space-around;
    font-size: 20px;
}

.menu a{
    text-decoration: none;
    color:white;
    font-size: 37px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin:2% 2% 2% 2%;
    text-align: center;
}

.peluqueria{
    margin: 1% 1% 1% 1%;
    width: 400px;
    height: 400px;
    background: url(../images/cuidadosB-imagenes/fondo\ peluqueria.jpg) no-repeat center center/cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(61, 59, 59);
    background-blend-mode: overlay;
    color:white;
    font-size: 25px;
}


.farmacia{
    margin: 1% 1% 1% 1%;
    width: 400px;
    height: 400px;
    background: url(../images/cuidadosB-imagenes/fondo\ farmacia2.jpg) no-repeat center center/cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(61, 59, 59);
    background-blend-mode: overlay;
    color:white;
    font-size: 25px;
}

.cuidados{
    margin: 1% 1% 1% 1%;
    width: 400px;
    height: 400px;
    background: url(../images/cuidadosB-imagenes/fondo\ cuidados.jpg) no-repeat center center/cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(61, 59, 59);
    background-blend-mode: overlay;
    color:white;
    font-size: 25px;
}

.btn{
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    font-size: 15px;
    border: 1px solid white;
    background-color: rgba(75, 71, 71, 0);
}

.btn a{
    text-decoration: none;
    list-style-type: none;
    color: white;
}